.job{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px white solid;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px gray;
}

.apply--buttons{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

   
}


